---
import PageLayout from "@layouts/PageLayout.astro"
import { INFOJUEGOS } from "@consts"
import TwinklingStars from "@components/TwinklingStars.astro"
import MeteorShower from "@components/MeteorShower.astro"
---

<PageLayout title={INFOJUEGOS.TITLE} description={INFOJUEGOS.DESCRIPTION}>

  <!-- Light Mode: Particles -->
  <div class='absolute inset-0 block dark:hidden'>
    <div id='particles1' class='fixed inset-0'></div>
    <div id='particles2' class='fixed inset-0'></div>
    <div id='particles3' class='fixed inset-0'></div>
  </div>

  <!-- Dark Theme: Stars -->
  <div class='absolute inset-0 bg-black hidden dark:block'>
    <div id='stars1' class='fixed inset-0'></div>
    <div id='stars2' class='fixed inset-0'></div>
    <div id='stars3' class='fixed inset-0'></div>
  </div>

  <!-- Dark Theme: Twinkling Stars / Metors -->
  <div id="galaxy" class="fixed inset-0">
    <div class="hidden dark:block">
      <TwinklingStars/>
      <MeteorShower/>
    </div>
  </div>

  <script is:inline src="/js/bg.js"></script>
  
  <!-- HERO -->
  <section class="relative h-screen w-full">
    <div id="planetcont" class='animate absolute inset-0 top-1/4 overflow-hidden'>
      <div id="crescent" class='absolute top-0 left-1/2 -translate-x-1/2 w-[250vw] min-h-[100vh] aspect-square rounded-full p-[1px] bg-gradient-to-b from-black/25 dark:from-white/75 from-0% to-transparent to-5%'>
        <div id="planet" class='w-full h-full bg-white dark:bg-black rounded-full p-[1px] overflow-hidden flex justify-center'>
          <div id="blur" class='w-full h-20 rounded-full bg-neutral-900/25 dark:bg-white/25 blur-3xl'/>
        </div>
      </div>
    </div>
    <div class="animate absolute h-full w-full flex items-center justify-center">
      <div class='relative w-full h-full flex items-center justify-center'>
        <div class='p-5 text-center'>
          <p class='animated text-lg md:text-xl lg:text-2xl font-semibold opacity-75'>
            
          </p>
          <p class='animated text-2xl md:text-3xl lg:text-4xl font-bold uppercase text-black dark:text-white'>
            INFO JUEGOS
          </p>
          <p class='animated text-sm md:text-base lg:text-lg opacity-75'>
            Aquí tienes toda la información de los juegos.
          </p>
            <div id="ctaButtons" class='animated flex flex-wrap gap-4 justify-center mt-5'>
                <a href='/juegos' class='border border-black/25 dark:border-white/25 py-2 px-4 rounded truncate text-xs md:text-sm lg:text-base bg-neutral-500 dark:bg-neutral-900 text-white dark:text-white hover:opacity-75 blend'>
                    Volver a Juegos
                </a>
                <a href='https://games.broslunas.com' target="_blank" class='py-2 px-4 rounded truncate text-xs md:text-sm lg:text-base bg-neutral-200 dark:bg-neutral-400 text-black dark:text-black hover:opacity-75 blend'>
                  Sitio Web
                </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="relative bg-white dark:bg-black">
    <div class="mx-auto max-w-screen-sm p-5 space-y-24 pb-16">

      <!-- About Section -->
      <section class="animate">
        <article>
            <h1>Informacion</h1>
            <p>
                Para poder jugar a nuestros juegos no es necesario en ningun momento descargar cualquier archivo, todo lo necesario lo tenemos alojado en nuestro servidor.
            </p>
            <h1>Juegos Online</h1>
            <p>
                En nuestro servicio de juegos disponemos de juegos online. Para poder acceder a estos no es necesario tener que crearte ninguna cuenta ni nada por el estilo lo unico que hace falta para poder jugar es introducir un nombre de usuario (opcional), como es el caso del <a href="/projects/juegos-2d/13-uno/">UNO</a>. Aquí tiene una demostracion.
            </p>
            <video class="container" loop autoplay muted>
                <source src="/assets/video/gameplay/uno-online.mp4" type="video/mp4">
            </assets/video>
            <h1>Cada cuanto tiempo añadiremos nuevos juegos</h1>
            <p>
                No tenemos una fecha esacta en la que sacamos nuevos juegos, todos los juegos son sacados a produccion cuando esten listos para ello y nos hayamos asegurado que no hay ningun bug.
            </p>
        </article>
      </section>
    </div>
  </div>
</PageLayout>
