---
import PageLayout from "@layouts/PageLayout.astro"
import { SITE } from "@consts"
import TwinklingStars from "@components/TwinklingStars.astro"
import MeteorShower from "@components/MeteorShower.astro"

---

<PageLayout title="Wiki Zelda" description={SITE.DESCRIPTION}>

  <!-- Light Mode: Particles -->
  <div class='absolute inset-0 block dark:hidden'>
    <div id='particles1' class='fixed inset-0'></div>
    <div id='particles2' class='fixed inset-0'></div>
    <div id='particles3' class='fixed inset-0'></div>
  </div>

  <!-- Dark Theme: Stars -->
  <div class='absolute inset-0 bg-black hidden dark:block'>
    <div id='stars1' class='fixed inset-0'></div>
    <div id='stars2' class='fixed inset-0'></div>
    <div id='stars3' class='fixed inset-0'></div>
  </div>

  <!-- Dark Theme: Twinkling Stars / Metors -->
  <div id="galaxy" class="fixed inset-0">
    <div class="hidden dark:block">
      <TwinklingStars/>
      <MeteorShower/>
    </div>
  </div>

  <script is:inline src="/js/bg.js"></script>
  
  <!-- HERO -->
  <section class="relative h-screen w-full">
    <div id="planetcont" class='animate absolute inset-0 top-1/4 overflow-hidden'>
      <div id="crescent" class='absolute top-0 left-1/2 -translate-x-1/2 w-[250vw] min-h-[100vh] aspect-square rounded-full p-[1px] bg-gradient-to-b from-black/25 dark:from-white/75 from-0% to-transparent to-5%'>
        <div id="planet" class='w-full h-full bg-white dark:bg-black rounded-full p-[1px] overflow-hidden flex justify-center'>
          <div id="blur" class='w-full h-20 rounded-full bg-neutral-900/25 dark:bg-white/25 blur-3xl'/>
        </div>
      </div>
    </div>
    <div class="animate absolute h-full w-full flex items-center justify-center">
      <div class='relative w-full h-full flex items-center justify-center'>
        <div class='p-5 text-center'>
          <p class='animated text-lg md:text-xl lg:text-2xl font-semibold opacity-75'>
            WIKI
          </p>
          <p class='animated text-2xl md:text-3xl lg:text-4xl font-bold uppercase text-black dark:text-white'>
            ZELDA
          </p>
          <div id="ctaButtons" class='animated flex flex-wrap gap-4 justify-center mt-5'>
            <a href='/projects/juegos-3d/01-zelda' class='py-2 px-4 rounded truncate text-xs md:text-sm lg:text-base bg-black dark:bg-white text-white dark:text-black hover:opacity-75 blend'>
              Volver al projecto
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <div class="relative bg-white dark:bg-black">
    <div class="mx-auto max-w-screen-sm p-5 space-y-24 pb-16">

      <!-- De que trata -->
      <section class="animate">
        <h1 class="text-2xl md:text-3xl lg:text-4xl font-bold uppercase text-black dark:text-white">Informacion</h1>
        <article>
            <p>
                En el juego, existen dos modalidades:
            </p>
            <h2 class="text-1xl md:text-2xl lg:text-3xl font-bold uppercase text-black dark:text-white">Explora el Oceano</h2>
            <p>
                En este modo de juego puedes explorar el oceano com bien indica el nombre, descubriendo artilugios y los fragmentos de la trifuerza.
            </p>
            <h2 class="text-1xl md:text-2xl lg:text-3xl font-bold uppercase text-black dark:text-white">Consigue las Gemas</h2>
            <p>
                Este modo de juego consiste en recoger todas las gemas que puedas, mientras los barriles se van acercando a ti, solo tienes 3 vidas y existen diferentes tipos de gemas cada una da una cantidad de puntos diferentes.
            </p>
        </article>
      </section>

      <!-- Controles  -->
      <section class="animate">
        <h1 class="text-2xl md:text-3xl lg:text-4xl font-bold uppercase text-black dark:text-white">Controles</h1>
        <article>
            <h2 class="text-1xl md:text-2xl lg:text-3xl font-bold uppercase text-black dark:text-white">Botones</h2>
            <p>
                <b style="font-size:x-large; "><u>PC</u></b> <br>
                <b>W:</b> Mueve el personaje hacia arriba <br>
                <b>A:</b> Mueve el personaje hacia la izquierda <br>
                <b>S:</b> Mueve el personaje haia abajo <br>
                <b>D:</b> Mueve el personaje haciala derecha <br>
                <b>ESPACIO:</b> Haz que el personaje salte <br>
                <b>F:</b> Alterna el <u>GANCHO</u> y <u>VELA</u> <br>
                <b>E:</b> Saca una foto <br> <br>
                Aparte de estas teclas tambien es necesario hacer click izq. del raton y arrastrar para mover la cam.
            </p>
            <p>
                <b style="font-size:x-large; "><u>MOVILES</u></b> <br>
                Los controles en los dispositivos moviles son mucho mas sencillos solo tienes que mover el stick para moverte, puslar botones en la pantalla o deslizar el dedo para girar la camara
            </p>
        </article>
      </section>

      <!-- Gameplay  -->
      <section class="animate">
        <h1 class="text-2xl md:text-3xl lg:text-4xl font-bold uppercase text-black dark:text-white">Gameplay</h1>
        <article>
            <p>
                Aqui le dejamos un corto video del juego de demostracion
            </p>
            <video class="container" loop autoplay muted>
                <source src="/video/gameplay/zelda.mp4" type="video/mp4">
            </video>
        </article>
      </section>
    </div>
  </div>
</PageLayout>

