---
import Container from "./Container.astro"
---
<Container size="lg">
    <div class="p-6">
        <script is:inline type="text/javascript" src="https://campaigns.zoho.eu/js/zc.iframe.js"></script>
        <iframe id="iframewin" width="100%" height="500px" src="https://zcv2-zcmp.maillist-manage.eu/ua/Optin?od=12ba7ee0db46&zx=14ae1003b9&tD=12dff57727cd9159&sD=12dff57727cdcfdf"></iframe>
    </div>
</Container>