---
import Container from "./Container.astro"
---
<Container size="lg">
    <div class="p-6">
        <iframe data-w-type="embedded" src="https://sugik.mjt.lu/wgt/sugik/x5sx/form?c=88977e24" width="100%" style="height: 0;"></iframe>

        <script is:inline type="text/javascript" src="https://app.mailjet.com/pas-nc-embedded-v1.js"></script>
    </div>
</Container>